<p>ng-if-directives works!</p>


<!-- <button *ngIf="color=='danger'" class="btn btn-danger">
    Submit
</button>
<button *ngIf="color=='success'" class="btn btn-success">
    Submit
</button>
<button *ngIf="color=='warning'" class="btn btn-warning">
    Submit
</button>
<button *ngIf="color=='dark'" class="btn btn-dark">
    Submit
</button> -->






<button *ngIf="isLoggedIn else logInBtn" class="btn btn-outline-primary">
    Log out
</button>

<ng-template #logInBtn>
    <button class="btn btn-outline-primary">
        Log In
    </button>
</ng-template>

<!-- <button *ngIf="!isLoggedIn" class="btn btn-outline-primary">
    Log in
</button> -->